<div class="content">
  <div class="container">
<div class="row offset-1">
    <div class="column">
      <div class="card">
        <img src="../../assets/account.png" alt="Jane" style="width:100px">
        <div class="container">
          <h2>sanath</h2>
          <p class="title">CEO & Founder</p>
          <p>sanathbhat@worldbank.org.in</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/account.png" alt="Mike" style="width:100px">
        <div class="container">
          <h2>Anekit</h2>
          <p class="title">Co-Founder</p>
          <p>anekit@worldbank.org.in</p>
        </div>
      </div>
    </div>
</div>  
<div class="row offset-1">
    <div class="column">
      <div class="card">
        <img src="../../assets/account.png" alt="John" style="width:100px">
        <div class="container">
          <h2>Ameen</h2>
          <p class="title">Finance Head</p>
          <p>ameen1699@worldbank.org.in</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>