<div class="full">
<ng-container *ngIf="result">
<div class="offset-2 mt-5 mb-5">
    <div class="content card col-md-8">
        <h2 class="card-header">Welcome,{{result.first}} {{result.last}} !</h2>
        <div class="card-footer">
            <ul>
                <li><b>Balance (INR): {{result.balance}}/-</b></li>
                <li><b>You have {{count}} beneficiaries.</b></li>
                <li><b>Your last transaction of RS. {{lastTransaction.debit}} on {{lastTransaction.date}} was sent to : {{lastTransaction.beneficiaryname}},<br> AC/NO : {{lastTransaction.accountNo}}</b></li>
            </ul>
        </div>
   </div>
</div>  
<div class="container">
</div>
</ng-container>
</div>