<div class="content">
<div class="container">
<div class="offset-2 mt-5 mb-5">
    <div class=" card col-md-8">
        <h2 class="card-header">Welcome Admin !</h2>
        <p class="card-footer">From here you can manage all of core Internet Banking settings. You can add/manage customer, view their transactions,edit their details
            and can also post news on the website.<br> Please keep in mind that with big power comes with big responsibility.therefore please do not
            misuse your admin control to create trouble.<br>
        </p>
   </div>
</div>  
</div>
</div>
